
<div class="feedback-toast" 
     *ngIf="showFeedback" 
     [ngClass]="feedbackType">
    
    <div class="feedback-content">
        <span class="icon" *ngIf="feedbackType === 'success'">✅</span>
        <span class="icon" *ngIf="feedbackType === 'error'">⚠️</span>
        
        <span class="message">{{ feedbackMessage }}</span>
        <span class="timestamp">{{ feedbackTimestamp }}</span>
    </div>
</div>


<div class="login-card">
    
    <div class="header text-center">
      <h1 class="flux-logo">FLUX</h1>
      <p class="subtitle">Gerencie suas despesas pessoais com eficiência.</p>
    </div>

    <form (ngSubmit)="onSubmit()">  

      <div class="form-row">
        <label for="login">LOGIN</label>
        <input 
          type="text" 
          id="login" 
          name="login"
          placeholder="Digite seu login"
          [(ngModel)]="credentials.login"
          required>
      </div>

      <div class="form-row">
        <label for="password">SENHA</label>
        <div class="input-wrapper">
            <input 
              [type]="showPassword ? 'text' : 'password'" 
              id="password" 
              name="password"
              placeholder="Digite sua senha"
              [(ngModel)]="credentials.password" 
              required>
              
            <i class="bi" 
              [class.bi-eye]="!showPassword" 
              [class.bi-eye-slash]="showPassword"
              (click)="togglePasswordVisibility()">
            </i>
        </div>
      </div>

      <div class="form-row">
        <div class="label-column" style="width: 80px; margin-right: 0;">
             <label for="confirmPassword"></label>
             <small class="error-msg" 
                *ngIf="credentials.confirmPassword && credentials.password !== credentials.confirmPassword">
               Senhas não conferem
             </small>
        </div>

        <div class="input-wrapper">
            <input 
              [type]="showPassword ? 'text' : 'password'" 
              id="confirmPassword" 
              name="confirmPassword"
              placeholder="Confirme sua senha"
              [(ngModel)]="credentials.confirmPassword" 
              required> 
              
            <i class="bi" 
              [class.bi-eye]="!showPassword" 
              [class.bi-eye-slash]="showPassword"
              (click)="togglePasswordVisibility()">
            </i>
        </div>
      </div>

      <div class="actions-row">
        <div class="remember-me">
            <input type="checkbox" id="lembrar" name="lembrar">
            <label for="lembrar">Lembrar-me</label>
        </div>
        <a routerLink="/login" class="create-account" style="cursor: pointer">Já tenho conta</a>
      </div>

      <button type="submit" 
        class="login-btn"
        [disabled]="credentials.password !== credentials.confirmPassword">
        CRIAR CONTA
      </button>

    </form>

    <div class="login-footer">
      <small>© 2026 FLUX project. Todos os direitos reservados.</small>
    </div>
</div>